Proj2/Proj2/Connected Services/ServiceReference1/AccesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKlient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klient" nillable="true" type="tns:Klient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlient" nillable="true" type="tns:ArrayOfKlient" />
  <xs:complexType name="Klient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klient" nillable="true" type="tns:Klient" />
  <xs:complexType name="ArrayOfKonto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Konto" nillable="true" type="tns:Konto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKonto" nillable="true" type="tns:ArrayOfKonto" />
  <xs:complexType name="Konto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Konto" nillable="true" type="tns:Konto" />
  <xs:complexType name="ArrayOfPracownik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pracownik" nillable="true" type="tns:Pracownik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracownik" nillable="true" type="tns:ArrayOfPracownik" />
  <xs:complexType name="Pracownik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data_zaczecia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stanowisko" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pracownik" nillable="true" type="tns:Pracownik" />
  <xs:complexType name="ArrayOfProdukt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produkt" nillable="true" type="tns:Produkt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdukt" nillable="true" type="tns:ArrayOfProdukt" />
  <xs:complexType name="Produkt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dostepnosc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produkt" nillable="true" type="tns:Produkt" />
  <xs:complexType name="ArrayOfzam_prod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="zam_prod" nillable="true" type="tns:zam_prod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfzam_prod" nillable="true" type="tns:ArrayOfzam_prod" />
  <xs:complexType name="zam_prod">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Produkt" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Zamowienia" type="xs:int" />
      <xs:element minOccurs="0" name="Ilosc" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="zam_prod" nillable="true" type="tns:zam_prod" />
  <xs:complexType name="ArrayOfZamowienia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zamowienia" nillable="true" type="tns:Zamowienia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZamowienia" nillable="true" type="tns:ArrayOfZamowienia" />
  <xs:complexType name="Zamowienia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data_zlozenia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Klienta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zamowienia" nillable="true" type="tns:Zamowienia" />
</xs:schema>