Proj2/Proj2/Connected Services/ServiceReference1/AccesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60789/AccesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKlienty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKlientyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetKlientyResult" nillable="true" type="q1:ArrayOfKlient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKonta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKontaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetKontaResult" nillable="true" type="q2:ArrayOfKonto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracownicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracownicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetPracownicyResult" nillable="true" type="q3:ArrayOfPracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdkuty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdkutyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetProdkutyResult" nillable="true" type="q4:ArrayOfProdukt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZam_prody">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZam_prodyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetZam_prodyResult" nillable="true" type="q5:ArrayOfzam_prod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZamowienia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZamowieniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTemplates.DisplayData" minOccurs="0" name="GetZamowieniaResult" nillable="true" type="q6:ArrayOfZamowienia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>